<h2><%= @celebrity.screen_name %></h2>
<br>

<hr>

<% if current_user %>
  <%= link_to "Synchornize", { controller: 'celebrities', action: 'sync', id: @celebrity.id },
              :class => 'btn-primary btn-small' %>

  <%= link_to "Full Synchornize", { controller: 'celebrities', action: 'sync', id: @celebrity.id, full_sync: true },
              :class => 'btn-primary btn-small' %>
<% end %>

<hr>

<% @posts.each do |p| %>
  <div>
    <div><%= p.content %></div>
    <% if p.retweeted_content %>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;@<%= p.retweeted_screen_name %></div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= p.retweeted_content %></div>
      <% p.pictures.each do |p| %>
      <%= link_to(image_tag(p.url, :class => "post_image", :style => "max-height: 300px; max-width: 300px"), p.url, :target => "_blank") %>
      <% end %>
    <% end %>
    <% if p.pictures.size > 0 && !p.retweeted_content %>
      <% p.pictures.each do |p| %>
      <%= link_to(image_tag(p.url, :class => "post_image", :style => "max-height: 300px; max-width: 300px"), p.url, :target => "_blank") %>
      <% end %>
    <% end %>
    <br>
    <%= p.post_time %>
    <br>
    <br>
  </div>

  <hr>
<% end %>